.login-wrap-particles {

  /* 定义关键帧 */
  @keyframes backgroundChange {
    0% {
      background-color: red;
    }

    50% {
      background-color: yellow;
    }

    100% {
      background-color: blue;
    }
  }

  /* 应用动画到元素 */
  .login-wrap-particles {
    animation: backgroundChange 5s infinite;
  }

  background-attachment: fixed;
  overflow: hidden;
  /* 父级添加flex属性 */
  display: flex;
  /* x轴居中 */
  justify-content: center;
  /* y轴居中 */
  align-items: center;
  height: 100%;
  // background-image: url('@/assets/images/login-bg.jpg');
  //margin: 10px auto 15px auto;
  background-size: cover;
  flex-direction: column;
}

.login {
  position: relative;
  width: var(--base-login-width);
  background: repeating-conic-gradient(from var(--a), #b1c6ec 0%, #b1c6ec 5%, transparent 5%, transparent 40%, #b1c6ec 50%);
  animation: animate 4s linear infinite;
  border-radius: 20px;
  z-index: 1;
}

@property --a {
  syntax: '<angle>';
  inherits: false;
  initial-value: 0deg;
}

@keyframes animate {
  0% {
    --a: 0deg;
  }

  100% {
    --a: 360deg;
  }
}

.login::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: repeating-conic-gradient(from var(--a), #f5f6f7 0%, #45f3ff 5%, transparent 5%, transparent 40%, #45f3ff 50%);
  animation: animate 4s linear infinite;
  animation-delay: -1s;
  border-radius: 20px;
  z-index: -2;
}

.login::after {
  content: '';
  position: absolute;
  inset: 1px;
  background-color: #fff;
  border-radius: 15px;
  border: 2px solid transparent;
  z-index: -1;
}


.title {
  margin: 10px auto 15px auto;
  text-align: center;
  // color: #009966;
  color: #E6A23C;
  font-family: "Century Gothic", Consolas, "Liberation Mono", Courier, Verdana;
  //font-size: 30px;
  animation: spread 10s ease-in-out infinite alternate;

  @keyframes spread {
    to {
      color: #E6A23C;
      text-shadow: 0 0 100px #E6A23C;
    }
  }

  span:nth-child(1) {
    animation-delay: 0s;
  }

  span:nth-child(2) {
    animation-delay: 0.2s;
  }

  span:nth-child(3) {
    animation-delay: 0.4s;
  }
}

.login-form {
  padding: 5px 25px 5px 25px;
  position: relative;
  height: 230px;

  .input-icon {
    height: 30px;
    width: 14px;
    margin-left: 0px;
  }
}

.login-tip {
  font-size: 13px;
  text-align: center;
  color: #bfbfbf;
}

.login-code {
  width: 33%;
  height: 40px;
  float: right;

  img {
    width: 100%;
    height: 40px;
    cursor: pointer;
    vertical-align: middle;
  }
}

.el-login-footer {
  height: 40px;
  line-height: 40px;
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  color: #009966;
  font-family: Arial;
  font-size: 12px;
  letter-spacing: 1px;
}

.login-code-img {
  height: 40px;
  padding-left: 12px;
}

.langSet {
  margin: 10px auto 15px auto;
  position: absolute;
  right: 2%;
  top: 2%;
}

.logoSet {
  margin: 10px auto 15px auto;
  position: absolute;
  left: 2%;
  top: 2%;
  height: 32px
}

.sloganSet {
  position: absolute;
  transform: perspective(1000px) rotateY(10deg);
  left: 8%;
  top: 3%;
  font-size: 1.3em;
  font-family: "Century Gothic", Consolas, "Liberation Mono", Courier, Verdana;
  color: #5BA6DF;
  text-shadow: 1px 1px 10px #5BA6DF;
  background-image: -webkit-linear-gradient(left, #2EC7C9, #E6D205 25%, #2EC7C9 50%, #E6D205 75%, #2EC7C9 100%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-background-size: 200% 100%;
  -webkit-animation: masked-animation 4s infinite linear;
  font-family: Chaparral Pro Light;
  letter-spacing: 2px;

  //font-size: 56px;
  @keyframes spread {
    to {
      color: #33FFCC;
      text-shadow: 0 0 100px #33FFCC;
    }
  }

  span:nth-child(1) {
    animation-delay: 0s;
  }

  span:nth-child(2) {
    animation-delay: 0.2s;
  }

  span:nth-child(3) {
    animation-delay: 0.4s;
  }

}

.scan-wrap {
  position: absolute;
  right: 0;
  top: 0;
  width: 50px;
  height: 50px;
  cursor: pointer;
  transition: all ease 0.3s;
  overflow: hidden;

  .icon {
    width: 48px;
    height: 50px;
    display: inline-block;
    font-size: 48px;
    position: absolute;
    right: 1px;
    top: 0px;
  }

  .scan-delta {
    position: absolute;
    width: 35px;
    height: 70px;
    z-index: 2;
    top: 2px;
    right: 21px;
    background: var(--el-color-white);
    transform: rotate(-45deg);
  }
}

.login-scan-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 20px;
}

@media screen and (max-width: 500px) {}